body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #6e1515c3;
}

.container {
    position: relative;
    min-height: 100vh;
}

.field {
    position: absolute;
    background-color: #6e1515b5;
    border-color: black;
    inset: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
}

.cell {
    position: absolute;
    background-color: #24bb33d3;
    border: 1px dotted #0c1c0d95;
    box-sizing: border-box;
}

.snake {
    background-color: #1f23ff;
}

.snake-head {
    background-color: #191cd1;
}

.own-snake {
    background-color: #1b1eb0;
}

.own-snake-head {
    background-color: rgb(13, 14, 115);
}

.food {
    background-color: #9f2020da;
}

.score {
    position: absolute;
    background-color: #8d28c4da;
    border: 1px dotted #8d28c4da;
    border-radius: 5%;
    opacity: 50%;
    align-content: center;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    color: rgb(6, 19, 122);
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #bd65b8;
    border: 2px solid #80367b;
    border-radius: 5%;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 5px 5px 5px #00000095;
}

.waiting-snakes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #bd65b8;
    border: 2px solid #80367b;
    border-radius: 5%;
    width: 100px;
    height: 50px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 5px 5px 5px #00000095;
}

.waiting-start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #bd65b8;
    border: 2px solid #80367b;
    border-radius: 5%;
    width: 100px;
    height: 20px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 5px 5px 5px #00000095;
    visibility: hidden
}

.menu-header {
    text-align: center;
    margin-top: 5%;
    color: #09620eda;
    font-size: 22px;
}

.setting {
    
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    text-align: left;
    align-items: center;
    height: 8%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    color: #0a6e0fda;
}



.create-button {
    background-color: #0b8711da;
    width: 170px;
    height: 40px;
    font-size: 22px;
    margin: 2%;
    margin-top: 4%;
}

.connect-button {
    background-color: #0b8711da;
    width: 170px;
    height: 40px;
    font-size: 22px;
    margin: 2%;
    margin-top: 4%;
}

.start-button {
    background-color: #0b8711da;
    width: 120px;
    height: 40px;
    font-size: 22px;
    margin: 10%;
}


.edit {
    height: 80%;
    width: 100%;
    text-align: center;
    background-color: #be6cba;
    font-size: 16px;
    color: black;
    border: 1px solid black;
}